.vectors-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.children-menu {
  display: flex;
  font-family: 'PT Serif', serif;
  font-size: 24px;
  font-weight: bold;
  padding: 1.2rem;
  width: 100%;
}
.child-item {
  color: #b4bedb;
  padding: 5px 14px;
}
.child-item:hover {
  background-color: rgba(230, 234, 243, 0.4);
  border-radius: 10px;
}
.child-item.selected {
  color: #000;
}
.item {
  height: 180px;
  width: 180px;
}

.item svg {
  border-radius: 1.25rem;
  fill: none;
  height: 180px;
  width: 180px;
}

.item.selected,
.item:hover {
  border-radius: 1.25rem;
  background-color: rgba(230, 234, 243, 0.4);
}
.item.empty {
  border-radius: 1.25rem;
  height: 180px;
  width: 180px;  
}