.vectors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.children-menu {
  display: flex;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0 0 0 1.5rem;
  width: 100%;
  text-transform: uppercase;
}
.child-item {
  color: #b4bedb;
  padding: 0 2rem 0 0;
}
.child-item:hover {
  background-color: rgba(230, 234, 243, 0.4);
  border-radius: 10px;
}
.child-item.selected {
  color: #000;
}
.item {
  overflow: hidden;
  margin: 0 1rem 1rem;
}

.item svg {
  border-radius: 1.25rem;
  fill: none;
  transform-origin: center center;
  width: 6.5rem;
}

.item.selected,
.item:hover {
  border-radius: 1.25rem;
  background-color: rgba(230, 234, 243, 0.4);
}
.item.empty {
  border-radius: 1.25rem;
}

svg.face {
  transform: scale(2) translateY(-14px);
}

svg.hairstyle {
  transform: scale(1.2) translateY(15px);
}

svg.fringe {
  transform: scale(2) translateY(15px);
}
svg.ears {
  transform: scale(7) translate(30px, 4px);
}
svg.pupil,
svg.narrow,
svg.normal,
svg.wide {
  transform: scale(7) translate(17px, 8px);
}
svg.eyebrows {
  transform: scale(5) translate(14px, 14px);
}
svg.glasses {
  transform: scale(4) translate(14px, 5px);
}
svg.nostril {
  transform: scale(7) translateY(-7px);
}
svg.septum {
  transform: scale(7) translate(7px, 2px);
}
svg.upper,
svg.smile,
svg.lower {
  transform: scale(6) translateY(-17px);
}

svg.head {
  transform: scale(3) translateY(20px);
}
svg.mouth {
  transform: scale(4) translate(20px, -10px);
}
svg.mustachio {
  transform: scale(2.2) translate(6px, -15px);
}
svg.beard {
  transform: scale(2.2) translateY(-18px);
}

@media (max-width: 50rem) {
  .vectors-list {
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
  }

  .item {
    overflow: visible;
  }
}
