.vectors-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.children-menu {
  display: flex;
  font-family: 'PT Serif', serif;
  font-size: 24px;
  font-weight: bold;
  padding: 1.2rem;
  width: 100%;
}
.child-item {
  color: #b4bedb;
  padding: 5px 14px;
}
.child-item:hover {
  background-color: rgba(230, 234, 243, 0.4);
  border-radius: 10px;
}
.child-item.selected {
  color: #000;
}
.item {
  overflow: hidden;
  height: 180px;
  width: 180px;
}

.item svg {
  border-radius: 1.25rem;
  fill: none;
  height: 180px;
  transform-origin: center center;
  width: 180px;
}

.item.selected,
.item:hover {
  border-radius: 1.25rem;
  background-color: rgba(230, 234, 243, 0.4);
}
.item.empty {
  border-radius: 1.25rem;
  height: 180px;
  width: 180px;  
}

svg.face {
  transform: scale(2) translateY(-14px);
}

svg.hairstyle {
  transform: scale(1.2) translateY(15px);
}

svg.fringe {
  transform: scale(2) translateY(15px);
}
svg.ears {
  transform: scale(7) translate(30px, 4px);
}
svg.pupil,
svg.narrow,
svg.normal,
svg.wide {
  transform: scale(7) translate(17px, 8px);
}
svg.eyebrows {
  transform: scale(5) translate(14px, 14px);
}
svg.glasses {
  transform: scale(4) translate(14px, 5px);
}
svg.nostril {
  transform: scale(7) translateY(-7px);
}
svg.septum {
  transform: scale(7) translate(7px, 2px);
}
svg.upper,
svg.smile,
svg.lower {
  transform: scale(6) translateY(-17px);
}

svg.head {
  transform: scale(3) translateY(20px);
}
svg.mouth {
  transform: scale(4) translate(20px, -10px);
}
svg.mustachio {
  transform: scale(2.2) translate(6px, -15px);
}
svg.beard {
  transform: scale(2.2) translateY(-18px);
}