h2 {
  font-weight: normal;
  font-size: 2.2rem;
  margin: 0;
  text-transform: uppercase;
}

.dropdown-arrow {
  margin-left: 1.2rem;
  width: 2rem;
  transition: .4s all;
}
.dropdown-container.visible .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-container {
  position: relative;
  overflow: hidden;
  margin: 1rem;
  transition: height .1s ease;
}
.dropdown-container.visible {
  height: 26rem;
}
.dropdown-container.visible .options-list {
  top: 3rem;
}
.options-list {
  position: absolute;
  top: -30rem;
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: top 1s ease;
}

.option {
  color: #b4bedb;
  margin: 0;
  font-size: 1.06rem;
  line-height: 1.4rem;
  text-transform: uppercase;
}

.option.selected {
  color: #000000;
  background: none;
}

.option:hover {
  color: #899ACA;
}

