.color-selector-container {
  display: flex;
  overflow: hidden;
  padding: 2rem;
  position: relative;
}

.color-item {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  margin-right: .8rem;
}

.color-item:hover {
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.separator {
  background-color: #e6eaf3;
  height: 42px;
  margin-right: 1rem;
  width: 2px;
}

.color-item.default {
  background: url(../../assets/img/colorBG.png) center/cover no-repeat;
}

.color-item.default:hover{
  border: none;
}

#picker {
  position: absolute;
  top: 70px;
  visibility: hidden;
}