.color-selector-container {
  display: flex;
  overflow: hidden;
  padding: 1.5rem;
  justify-content: space-around;
  max-width: 30rem;
}

.color-item {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.color-item.selected,
.color-item:hover {
  border: .2rem solid rgba(0, 0, 0, 0.1);
}

.color-picker {
  border-right: .1rem solid #e6eaf3;
}

.separator {
  background-color: #B4BEDB;
  height: 2rem;
  width: .1rem;
}

.color-item.default {
  background: url(../../assets/img/colorBG.png) center/cover no-repeat;
}

.color-item.default:hover{
  border: none;
}

#picker {
  position: absolute;
  top: 5rem;
  visibility: hidden;
}
