.container-canvas {
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  width: 100vh;
  max-height: 100vh;
}

.canvas {
  width: 100%;
}

@media (max-width: 50rem) {
  .container-canvas {
    width: 100vw;
    padding: 0;
  }
}
