.container-canvas {
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  max-height: 100vh;
  min-width: 60%;
  max-width: 100vw;
  position: relative;
}

.canvas {
  width: 100%;
}

@media (max-width: 50rem) {
  .container-canvas {
    width: 100vw;
    max-height: 60vh;
    padding: 0;
    position: relative;
  }
}
